@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>Entre em contato através:</h1>
    <h3>E-mail:     kiamdemouralechinovski@hotmail.com</h3>
    <h3>Tel:        (41) 9 8867-1826</h3>
    <h3>Github: https://github.com/Vamwilder</h3>
    <h3></h3>
</section>