

<div class="text-center">
    <section>
        <h1>Desenvolvedor Full Stack</h1>
        <h5> Você precisa:</h5>
        <h5>&#10004; HTML</h5>
        <h5>&#10004; JavaScript</h5>
        <h5>&#10004; CSS</h5>
        <h5>&#10004; Java</h5>
        <h5>&#10004; C#</h5>
        <h5>&#10004; MySql</h5>
        <h4>Você está no lugar certo.</h4>                                    
    </section>
</div>
